/* ikiwiki local style sheet */

body {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, "DejaVu Sans", Helvetica, sans-serif;
    color: #000;
    border-top: 6px solid #464a52;
    font-size: 14px;
    background: #f8fcfc;
}
a:link, a:visited {
    color: #619cb8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #c66;
    background: none;
}
/* ------------------------------------------------------------
    Layout
------------------------------------------------------------ */
.header, .actions, #content, #pageinfo{
    display: block;
    width: 800px;
    margin: 0 auto;
}
#content{
    clear: both;
    margin-top: 30px;
}
/* ------------------------------------------------------------
    Header
------------------------------------------------------------ */
.pageheader{
    background: rgb(49, 54, 62);
    height: 125;
    border-top: 1px solid #292d34;
    position: relative;
}
.pageheader .header{
    background: url(/media/images/theme/penguin.svg) no-repeat top left;
    height: 120px;
    margin-top: 5px;
    position: relative;
}
.pageheader .header > span{
    padding-top: 91px;
    padding-left: 120px;
    display: block;
    float: left;
}
.pageheader .header .parentlinks{
    color: rgb(49, 54, 62);
    font-size: 0;
}
.parentlinks a{
    background: #464a52;
    margin: 0 1px 0 0;
    color: #fff;
    font-weight: normal;
}
.parentlinks a, .title{
    display: inline-block;
    padding: 4px 12px 2px 12px;
    text-decoration: none;
    font-size: 11pt;
    height: 23px;
}
.parentlinks a:hover, .title{
    background: #8ddbf7;
    color: #000;
}
#searchform div{
    display: block;
    height: 27px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    width: 181px;
    margin-top: -5px;
    background: #292d34;
    border: 0 1px 1px 1px solid #393939;
}
#searchform div:before{
    color: #bbb;
    content: "Search:";
    font-size: 14px;
    height: 27px;
    width: 60px;
    margin-left: -60px;
    margin-top: 1px;
    float: left;
    display: block;
}
#searchform input{
    float: left;
    width: 175px;
    height: 18px;
    padding: 3px 2px;
    background: #ccc;
    border: 1px solid #555;
    color: #555;
}
#searchform input:focus, #searchform input:hover{
    background: #f0fde2;
    color: #111;
}
.pageheader .actions ul{
    float: right;
    border-bottom: 0px;
}
.pageheader .actions li{
    padding: 0;
    margin: 0;
}
.pageheader .actions li:after{
    content: " |";
}
.pageheader .actions li:last-child:after{
    content: "";
}
/* ------------------------------------------------------------
    Content
------------------------------------------------------------ */
#pagebody{
    background: #fff;
    margin: -20px 0 0 0;
    z-index: 2;
}
#content{
    padding: 4px 0 10px 0;
}
#content ul{
    list-style-type: square;
}

#content hr{
    color: #eee;
    border: 1px solid #eee;
}

#content blockquote{
    border: 2px dotted #e6f1f5;
    background-color: #f8fcfc;
    padding: 0 6px;
    margin: 10px;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6{
    clear: both;
    color: #ba7d00;
    font-family: Exo, "Century Gothic", sans-serif;
    font-size: 15px;
}
#content h1{
    font-size: 24px;
}
#content h2{
    font-size: 19px;
}
#content h3{
    font-size: 17px;
}

#content pre{
    font-family: "Droid Sans Mono";
    border: 2px dotted #ddee99;
    background-color: #fdfefa;
    margin: 10px;
    padding: 3px 6px;
}

#content code {
  color: #31418c;
  font-family: "Droid Sans Mono";
  background-color: #fdfefa;
  border: 1px solid #e1e1e8;
}

#content pre code {
  border: 0;
}

#content table{
    width: 100%;
}

#content thead{
    background-color: #eee;
    padding: 3px;
    color: #333;
}

/* ------------------------------------------------------------
    Footer
------------------------------------------------------------ */
#footer{
    background-color: #f8fcfc;
    border-top: 1px solid #e6f1f5;
    clear: both;
    color: #666666;
    padding-bottom: 40px;
    margin-top: 0;
}
#pageinfo{
    border-top: 0;
}
#backlinks a{
    margin: 4px 0;
}
.pagedate{
    text-align: right;
}
